{% extends "base.html" %}

{% block title %}Destinations - Travel Itinerary{% endblock %}

{% block content %}
<div class="container text-center my-4">
    <h1 class="mb-4">Your Travel Personality Summary</h1>
    <p>{{ summary }}</p>
    
    <h2 class="mb-4">Recommended Destinations</h2>
    {% if destinations %}
        <form action="{{ url_for('activities') }}" method="POST">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for destination in destinations %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ destination_images[destination.name] }}" class="card-img-top" alt="{{ destination.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ destination.name }}</h5>
                            <p class="card-text">Explore {{ destination.name }} with exciting activities, great accommodations, and travel tips tailored for you!</p>
                            
                            <h6>Activities:</h6>
                            <ul>
                                {% for activity in destination.activities %}
                                    <li>{{ activity }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Accommodation Options:</h6>
                            <ul>
                                {% for place in destination.accommodation %}
                                    <li>{{ place }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Travel Tips:</h6>
                            <ul>
                                {% for tip in destination.travelTips %}
                                    <li>{{ tip }}</li>
                                {% endfor %}
                            </ul>

                            <input type="radio" id="destination{{ loop.index }}" name="selected_destination" value="{{ destination.name }}" required>
                            <label for="destination{{ loop.index }}" class="custom-btn">Select {{ destination.name }}</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-4">Select Destination and See Activities</button>
        </form>
    {% else %}
        <p>No destinations found.</p>
    {% endif %}
</div>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Go back to home</a>
{% endblock %}
